name: ⚙️ CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.3.1
        with:
          persist-credentials: false
      - uses: taiga-family/ci/actions/setup/variables@v1.179.0
      - uses: taiga-family/ci/actions/setup/node@v1.179.0
      - run: |
          if [[ "${{ env.SUPPORT_AUTO_PUSH }}" == "true" ]]; then
              npm run prettier -- --write
          else
              npm run prettier -- --check
          fi
      - run: npx renovate-config-validator default.json --strict
      - uses: taiga-family/ci/actions/auto/push@v1.179.0
        with:
          token: ${{ secrets.TAIGA_FAMILY_BOT_PAT }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
