name: ⚠️ Auto release
on:
  push:
    branches: [main]
    paths:
      - 'default.json'

jobs:
  release:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'chore(release)')"
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: taiga-family/ci/actions/run/release-it@v1.86.0
        with:
          ref: ${{ github.ref }}
          mode: ${{ github.event.inputs.mode }}
          githubToken: ${{ secrets.TAIGA_FAMILY_BOT_PAT }}

concurrency:
  group: release-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
